/* just for spread view */

.sv-profiles{
    position: relative;
    box-sizing: border-box;
    padding: 100px 100px;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    z-index: 20001;
}

.sv-profiles .profile-item{
    cursor: pointer;
    float: left;
    margin-left: 10px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: orangered;
    padding: 10px 10px;
}

.sv-profiles .profile-item:hover{
    outline: rgba(223, 223, 223, 0.5) solid 2px;
}