/*
* spreadview.css
*/

.charts {
    flex: auto;
    display: flex;
    flex-flow: column;
    background: #1A2237;
}

.u-warning {
    background-color: #1A2237;
    color: white;
}

.u-primary {
    background-color: #2e344c;
    color: white;
}

.condition {    
    position: relative;
    flex: none;
    left: 10%;
    width: 90%;
}

.condition input {
    padding: 0 5px;
}

.u-row {
    margin-top: 5px;
    display: flex;
    flex-flow: row;
    align-items: center
}

select {
    padding: 0;
}

.span {
    margin-right: 5px;
    text-align: right;
}

.u-col {
    display: flex;
    flex-flow: column;
}

.condition .item {
    width: 200px;
    margin: 0 10px;
}

.condition .code {
    width: 100%;
}

.condition .params {
    flex: auto;
    width: 30px;
}

.condition .yparams {
    width: 100px;
    margin: 0 10px;
}

.operator {
    height: auto;
    line-height: auto;
    padding: 0 10px;
}

.condition .u-file {
    padding: 0 10px;
}

.addon-btns {
    position: relative;
    left: 10%;
    width: 80%;
}

.chart {
    flex: auto;
}