<div class="charts">
    <div class="u-row condition">
        <div class="u-col item">
            <div class="u-row">
                <input type="text" class="btn-default code" [(ngModel)]="codes[0]" tabindex="1">
                <button type="button" class="btn-primary u-file" (click)="openFile(0)">...</button>
            </div>
            <div *ngFor="let line of lines" class="u-row">
                <input type="text" class="btn-default params" [(ngModel)]="line.coeffs[0]">
                <span style="margin:0 5px"> x </span>
                <select name="level1" id="level1" class="btn-default" [(ngModel)]="line.levels[0]">
                    <option value="-1">买一</option>
                    <option value="1">卖一</option>
                </select>
                <span style="margin:0 5px"> + </span>
                <input type="text" class="btn-default params" [(ngModel)]="line.offsets[0]">
            </div>
        </div>
        <button type="button" class="btn-primary operator">&minus;</button>
        <div class="u-col item">
            <div class="u-row">
                <input type="text" class="btn-default code" [(ngModel)]="codes[1]" tabindex="2">
                <button type="button" class="btn-primary u-file" (click)="openFile(1)">...</button>
            </div>
            <div *ngFor="let line of lines" class="u-row">
                <input type="text" class="btn-default params" [(ngModel)]="line.coeffs[1]">
                <span style="margin:0 5px"> x </span>
                <select name="price2" id="price2" class="btn-default" [(ngModel)]="line.levels[1]">
                    <option value="-1">买一</option>
                    <option value="1">卖一</option>
                </select>
                <span style="margin:0 5px"> + </span>
                <input type="text" class="btn-default params" [(ngModel)]="line.offsets[1]">
            </div>
        </div>
        <button type="button" class="btn btn-primary operator" (click)="calcSpread()">计算</button>
        <label for="name">名称：<input id="name" type="text" class="btn-default" [(ngModel)]="name"></label>
        <button type="button" class="btn btn-primary operator" (click)="save()">保存</button>
    </div>
    <div *ngIf="spreadviewer" echarts [options]="spreadviewer.spreadChart.chartOption" (chartInit)="spreadviewer.onChartInit($event, 0)"
        class="chart"></div>
    <!--<div echarts [options]="timeLineChart.instance" (chartInit)="onChartInit($event, 1)" class="chart"></div>-->
</div>