/.vscode/
/logs/*
/config/*
/appstore/**/*.js
/appstore/**/*.js.map
!/appstore/**/systemjs.config.js
/base/**/*.js
/base/**/*.js.map
!/base/script/**/*.js
/workbench/**/*.js
/workbench/**/*.js.map
!/workbench/systemjs.config.js
/appstore/BootstrapDemo/
/appstore/MultipleDemo/
/index.j*

