:host {
    position: relative;
    display: inline-block;
}

input {
  padding: 0 5px;
  width: 100%;
}

ul.dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    list-style: none;
    border-radius: 2px;
    border: 1px solid;
    background-color: #222A41;
    z-index: 999;
}

ul.dropdown > li {
    padding: 2px;
    cursor: pointer;
}