<div [ngSwitch]="className" [class]="className" [style.width.px]="styleObj?.width != null ? styleObj?.width : null" [style.height.px]="styleObj?.height != null ? styleObj?.height : null">
    <template [ngSwitchCase]="'tab-panel'">
        <!-- tab pages-->
        <div class="tab-pages">
            <div *ngFor="let page of children[0].pages" [id]="page.id" [class]="page.className">
                <div class="page-title"><span>{{page.title}}</span></div>
                <div class="page-body">
                    <usercontrol *ngIf="page.content" [class]="page.content.styleObj.type" [children]="page.content.children"
                     [dataSource]="page.content.dataSource" [style.min-width.px]="page.content.styleObj?.minWidth"
                      [style.min-height.px]="page.content.styleObj?.minHeight">
                    </usercontrol>
                </div>
            </div>
        </div>
        <!-- panel headers-->
        <div class="panel-header-list">
            <div *ngFor="let header of children[1].headers" [attr.data-target]="header.targetId" [class]="header.className">
                {{header.targetId}}
            </div>
        </div>
    </template>
    <template [ngSwitchCase]="'table'">
        <dock-table [className]="className" [dataSource]="dataSource"></dock-table>
    </template>
    <template [ngSwitchCase]="'controls'">
        <usercontrol [class]="styleObj.type" [children]="children" [dataSource]="dataSource" [styleObj]="styleObj" ></usercontrol>
    </template>
    <template ngSwitchDefault>
        <dock-control *ngFor="let child of children" [className]="child.className" [children]="child.children" [styleObj]="child.styleObj" [dataSource]="child.dataSource">
        </dock-control>
    </template>
</div>