<!--<div #scollerTable class="scroller-table">-->
<table #content class="table table-condensed table-hover">
  <thead>
    <tr (mouseup)="dataSource.tableHeaderClick($event)">
      <th *ngIf="styleObj.bRowIndex">#</th>
      <template ngFor let-col [ngForOf]="dataSource.columns" let-i="index">
        <th *ngIf="!col.bHidden" [style.text-align]="styleObj?.alignment" (click)="dataSource.sort(col, i)" [style.max-width.px]="dataSource.columns[i]?.maxWidth">
          {{col.columnHeader}}
          <span class="easiericon" [class.easiericon-sort-asc]="col.sortable&&col.columnHeader==dataSource.sortKey&&dataSource.bAsc"
            [class.easiericon-sort-desc]="col.sortable&&col.columnHeader==dataSource.sortKey&&!dataSource.bAsc"></span>
        </th>
      </template>
    </tr>
  </thead>
  <tbody [style.text-align]="styleObj?.alignment">
    <template ngFor let-row [ngForOf]="dataSource.rows" let-i="index">
      <tr *ngIf="!row.bHidden" [style.background-color]="row?.bgcolor">
        <td *ngIf="styleObj.bRowIndex" [style.padding.px]="styleObj.cellpadding">{{i + 1}}</td>
        <template ngFor let-cell [ngForOf]="row.cells" let-cellIndex="index">
          <td *ngIf="!dataSource.columns[cellIndex].bHidden" (click)="cell.dataSource.click(cellIndex, i)" [style.background-color]="cell?.bgColor"
            [style.padding.px]="styleObj.cellpadding" [style.color]="cell?.color" [style.max-width.px]="dataSource.columns[cellIndex]?.maxWidth">
            <button *ngIf="cell.styleObj.type=='button'" class="btn btn-default btn-{{cell.className}} btn-xs " [disabled]="cell.styleObj.disable"
              [name]="cell.dataSource.name">
            {{cell.dataSource.text}}
          </button>
            <input *ngIf="cell.styleObj.type=='textbox'" type="text" [(ngModel)]="cell.dataSource.text" [readonly]="cell.styleObj.readonly"
              [name]="cell.dataSource.name" class="btn-default btn-{{cell.className}} btn-xs">
            <span *ngIf="cell.styleObj.type=='plaintext'">{{cell.dataSource.text}}</span>
            <label *ngIf="cell.styleObj.type=='checkbox'" [style.margin-left.px]="cell.styleObj.left" [style.margin-top.px]="cell.styleObj.top">
                <input [name]="cell.dataSource.name" type="checkbox" [(ngModel)]="cell.dataSource.text"
                 [disabled]="cell.styleObj?.disable" style="width: 12px;"> 
                <span style="white-space: nowrap">{{cell.dataSource.title}}</span>
            </label>
            <u-codes *ngIf="cell.styleObj.type=='u-codes'" [selectedItem]="cell.dataSource.text" (onSelect)="cell.dataSource.click({row: i, item: $event})"></u-codes>
          </td>
        </template>
      </tr>
    </template>
  </tbody>
</table>
<table #head class="table table-condensed" cellspacing="0" style="position:absolute;top:0;display:none;">
  <thead>
    <tr (mouseup)="dataSource.tableHeaderClick($event)">
      <th *ngIf="styleObj.bRowIndex">#</th>
      <template ngFor let-col [ngForOf]="dataSource.columns" let-i="index">
        <th *ngIf="!col.bHidden" [style.text-align]="styleObj?.alignment" (click)="dataSource.sort(col, i)">
          {{col.columnHeader}}
          <span class="easiericon" [class.easiericon-sort-asc]="col.sortable && col.columnHeader==dataSource.sortKey&&dataSource.bAsc"
            [class.easiericon-sort-desc]="col.sortable&&col.columnHeader==dataSource.sortKey&&!dataSource.bAsc"></span>
        </th>
      </template>
    </tr>
  </thead>
</table>
<!--<div class="vscrollerbar">
    <div class="arrow-top"></div>
    <div #vtrack class="tracker" (click)="onTrackClick($event)">
      <div #vthumb class="thumb" (mousedown)="onScrollStart('v', $event)"></div>
    </div>
    <div class="arrow-bottom"></div>
  </div>
  <div class="hscrollerbar">
    <div class="arrow-left"></div>
    <div #htrack class="tracker" (click)="onTrackClick($event)">
      <div #hthumb class="thumb" (mousedown)="onScrollStart('h', $event)"></div>
    </div>
    <div class="arrow-right"></div>
  </div>-->
<!--</div>-->