<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th *ngIf="dataSource.bRowIndex">#</th>
      <th *ngFor="let col of dataSource.columns">
        {{col.columnHeader}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of curData.rows;let i = index;">
      <td *ngIf="dataSource.bRowIndex">{{i + 1 + pageSize * curPage}}</td>
      <td *ngFor="let cell of row.cells; let cellIndex = index;" (click)="cell.dataSource.click(cellIndex, i + pageSize * curPage)" [class]="cell.styleObj.type=='plaintext'? 'text-' + cell.className + ' bg-' + cell.className : null">
        <button *ngIf="cell.styleObj.type=='button'" class="btn btn-default btn-{{cell.className}} btn-xs " [disabled]="cell.styleObj.disable"
          [name]="cell.dataSource.name">
          {{cell.dataSource.text}}
        </button>
        <input *ngIf="cell.styleObj.type=='textbox'" type="text" [(ngModel)]="cell.dataSource.text" [readonly]="cell.styleObj.readonly"
            [name]="cell.dataSource.name" class="btn-default btn-{{cell.className}} btn-xs">
        <span *ngIf="cell.styleObj.type=='plaintext'">{{cell.dataSource.text}}</span>
      </td>
    </tr>
  </tbody>
</table>