<div id="workbench">

    <div class="body">
        <form *ngIf="!isAuthorized" class="loginForm" #loginForm="ngForm" (ngSubmit)="onLogin()">
            <div class="userImage">
                <span class="mif-user mif-4x fg-blue"></span>
            </div>
            <div class="input-control text">
                <input name="serverinfo" class="dropdown-toggle" type="text" required readonly placeholder="Server Name" [(ngModel)]="selectedServer"
                    #server="ngModel">
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="#" (click)="onSelectServer('高薪南四道')">高薪南四道</a></li>
                    <li><a href="#" (click)="onSelectServer('高薪南五道')">高薪南五道</a></li>
                </ul>
            </div>
            <div [hidden]="server.valid || server.pristine" class="bg-lightOrange fg-darkRed alert">
                Server is required.
            </div>
            <div class="input-control text">
                <input name="username" type="text" required placeholder="User Name" [(ngModel)]="username" #name="ngModel">
            </div>
            <div [hidden]="name.valid || name.pristine" class="bg-lightOrange fg-darkRed alert">
                UserName is required.
            </div>
            <div class="input-control password">
                <input name="password" type="Password" required placeholder="Password" [(ngModel)]="password" #passwd="ngModel">
            </div>
            <div [hidden]="passwd.valid || passwd.pristine" class="bg-lightOrange fg-darkRed alert">
                Password is required.
            </div>
            <div class="accept-buttons">
                <button type="submit" class="button primary" [disabled]="!loginForm.form.valid">
                            登录
                        </button>
                <button type="reset" class="button danger" (click)="onReset()">
                            重置
                        </button>
            </div>
        </form>
        <div class="appstore" *ngIf="isAuthorized">
            <!--<div class="fg-white" style="padding-left: 80px; position: fixed; width: 100%; box-shadow: 0 2px 2px black; background-color: #2c2c2c; z-index: 99">
                <h3>Applications</h3>
            </div>-->
            <div class="tile-area fg-white tile-area-scheme-dark" style="min-width: 1000px">
                <h1 class="tile-area-title">Start</h1>
                <div class="tile-area-controls">
                    <button class="square-button bg-transparent fg-white bg-blue no-border" (click)="toggleDetails();">
                        <span class="mif-list"></span>
                    </button>
                    <button class="square-button bg-transparent fg-white bg-blue no-border" (click)="onPopup(e)">
                        <span class="mif-plus"></span>
                    </button>
                </div>
                <div class="tile-group">
                    <span class="tile-group-title">Transanctional</span>
                    <div class="tile-container">
                        <template ngFor let-item [ngForOf]="configs">
                            <div [class]="detailClass" data-role="tile" (mouseup)="onClick($event, item)">
                                <div class="tile-content iconic">
                                    <!--<span class="icon mif-trademark"></span>-->
                                    <span class="tile-label">{{ item.name }}</span>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <!--<div class="tile-group double">
                    <span class="tile-group-title">Analytical</span>
                    <div class="tile-container">
                        <template ngFor let-app [ngForOf]="apps">
                            <div *ngIf="app.category=='Analytical'" class="tile-square bg-green fg-white" data-role="tile" (click)="OnStartApp(app.name)">
                                <div class="tile-content iconic">
                                    <span class="icon mif-library"></span>
                                </div>
                                <span class="tile-label">{{ app.desc }}</span>
                            </div>
                        </template>
                    </div>
                </div>-->
            </div>
            <!--<div class="dialog-overlay op-dark" *ngIf="bPopPanel" (click)="closePanel($event)">-->
            <div class="block-shadow-info" data-role="dialog" id="config" data-overlay="true" data-close-button="true" data-width="800"
                data-height="600">
                <div class="pop-center fg-white bg-darker">
                    <div class="header">
                        <a href="#" class="icon mif-home fg-white"></a>
                        <span class="title">{{panelTitle}}</span>
                        <!--<span href="#" class="icon mif-minus place-right"></span>-->
                        <!--<span class="bg-transparent fg-white place-right">Close</span>
                        <span class="bg-transparent fg-white place-right">Save</span>-->
                    </div>
                    <div class="content">
                        <div *ngIf="config.curstep==1" class="page">
                            <div class="row">
                                <label for="configName">Configuration Name: </label>
                                <div class="input-control text">
                                    <input type="text" id="configName" [(ngModel)]="config.name">
                                </div>
                            </div>
                            <div>
                                <h4>Trading Universe</h4>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    <div class="input-control text full-size">
                                        <input type="text" placeholder="市场">
                                        <button class="button dropdown-toggle"></button>
                                        <ul class="split-content d-menu" data-role="dropdown">
                                            <li><a href="#">上交所</a></li>
                                            <li><a href="#">深交所</a></li>
                                            <li><a href="#">金交所</a></li>
                                            <li><a href="#">上期所</a></li>
                                            <li><a href="#">郑商所</a></li>
                                            <li><a href="#">中金所</a></li>
                                            <li><a href="#">新交所</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="input-control text full-size">
                                        <input type="text" placeholder="行业">
                                        <button class="button dropdown-toggle"></button>
                                        <ul class="split-content d-menu" data-role="dropdown">
                                            <li><a href="#">电力</a></li>
                                            <li><a href="#">煤炭</a></li>
                                            <li><a href="#">石油</a></li>
                                            <li><a href="#">钢铁</a></li>
                                            <li><a href="#">证券</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="input-control text full-size">
                                        <input type="text" placeholder="类别">
                                        <button class="button dropdown-toggle"></button>
                                        <ul class="split-content d-menu" data-role="dropdown">
                                            <li><a href="#">期货</a></li>
                                            <li><a href="#">股票</a></li>
                                            <li><a href="#">基金</a></li>
                                            <li><a href="#">期权</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="input-control text full-size">
                                        <input type="text" placeholder="板块">
                                        <button class="button dropdown-toggle"></button>
                                        <ul class="split-content d-menu" data-role="dropdown">
                                            <li><a href="#">创业板</a></li>
                                            <li><a href="#">上证</a></li>
                                            <li><a href="#">深证</a></li>
                                            <li><a href="#">中小板</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell" style="padding-right: 2px">
                                    <div class="input-control file full-size" data-role="input">
                                        <input type="file" placeholder="import codes from file">
                                        <button class="button"><span class="mif-folder"></span></button>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="input-control text full-size" data-role="input">
                                        <input type="text" placeholder="Symbol Code">
                                        <button class="button" (click)="queryCodes()"><span class="mif-search"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="row fill">
                                <div class="cell2 scroller">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" [checked]="bLeftSelectedAll" (change)="leftSelectAll()"></th>
                                                <td>UKey</td>
                                                <th>Code</th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of queryList">
                                                <td><input type="checkbox" [(ngModel)]="item.bChecked"></td>
                                                <td>{{item.ukey}}</td>
                                                <td>{{item.code}}</td>
                                                <td>{{item.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cell">
                                    <div style="display: flex; flex-flow: column; justify-content: center; height: 100%;align-items: center">
                                        <button (click)="removeCodes()"><span class="mif-chevron-thin-left"></span>删除</button>
                                        <button (click)="appendCodes()">添加<span class="mif-chevron-thin-right"></span></button>
                                    </div>
                                </div>
                                <div class="cell2 scroller">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" [checked]="bRightSelectedAll" (change)="rightSelectAll()"></th>
                                                <td>UKey</td>
                                                <th>Code</th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of selectedList">
                                                <td><input type="checkbox" [(ngModel)]="item.bChecked"></td>
                                                <td>{{item.ukey}}</td>
                                                <td>{{item.code}}</td>
                                                <td>{{item.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="config.curstep==2" class="page">
                            <div>
                                <h4>Choose Strategy</h4>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    <div class="dropdown-button">
                                        <button class="button dropdown-toggle" style="min-width: 150px">{{config.strategyCoreName}}</button>
                                        <ul class="split-content d-menu" data-role="dropdown">
                                            <li *ngFor="let name of this.strategyCores"><a (click)="onSelectStrategy(name)" href="#">{{name}}</a></li>
                                        </ul>
                                    </div>
                                    <button class="button">Add Strategy</button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="config.curstep==3" class="page">
                            <div>
                                <h4>Config Strategy Instances</h4>
                                <hr>
                            </div>
                            <div class="row">
                                <label>Current Strategy: {{config.strategyCoreName}}</label>
                            </div>
                            <div class="row">
                                <div class="input-control text full-size">
                                    <input type="text" placeholder="Strategy ID" [(ngModel)]="newestInstanceName">
                                    <button class="button" (click)="addInstance()">Add Instance</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    <div class="accordion" data-role="accordion" data-close-any="true">
                                        <div *ngFor="let item of this.config.strategyInstances;let i = index" class="frame">
                                            <div class="heading bg-grayLight">
                                                <div class="cell">strategyid: {{item.id}}</div>
                                                <div class="cell"><span class="mif-cancel" (click)="removeInstance($event, i)"></span></div>
                                            </div>
                                            <div class="content bg-darker">
                                                <div class="accordion" data-role="accordion" data-close-any="true">
                                                    <div class="frame">
                                                        <div class="heading bg-grayLight">
                                                            <div class="cell">BaseInfo</div>
                                                        </div>
                                                        <div class="content">
                                                            <div> Name: <input type="text"> Port: <input type="text"></div>
                                                        </div>
                                                    </div>
                                                    <div class="frame">
                                                        <div class="heading bg-grayLight">
                                                            <div class="cell">OtherInfo</div>
                                                        </div>
                                                        <div class="content">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="config.curstep==4" class="page">
                            <div>
                                <h4>Choose Channels</h4>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    <div class="accordion" data-role="accordion" data-close-any="true">
                                        <div class="frame">
                                            <div class="heading bg-grayLight">
                                                <div class="cell">666600000040</div>
                                                <div class="cell">Stock</div>
                                            </div>
                                            <div class="content bg-darker">
                                                <table class="table condensed">
                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox"></th>
                                                            <th>name</th>
                                                            <th>type</th>
                                                            <th>host</th>
                                                            <th>port</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let channel of channels">
                                                            <td><input type="checkbox" [(ngModel)]="channel.enable"></td>
                                                            <td>{{channel.name}}</td>
                                                            <td>{{channel.type === 1 ? "Stock": "Future"}}</td>
                                                            <td>{{channel.addr}}</td>
                                                            <td>{{channel.port}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="config.curstep==5" class="page">
                            <div>
                                <h4>Are you Sure?</h4>
                                <hr>
                            </div>
                            <div class="row">
                                <label for="maxordersize">Make sure whether you have done a correct setting, then click 'Finish' Or reset them.</label>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="place-right">
                            <button class="button" [disabled]="config.curstep==1" (click)="prev()">Prev</button>
                            <button class="button" [disabled]="config.curstep==5" (click)="next()">Next</button>
                            <button class="button" [disabled]="config.curstep!=5" (click)="finish()">Finish</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- details -->
            <div id="detailCharm" data-role="charm" data-position="bottom" class="block-shadow-info" style="min-height: 300px">
                <h5>Strategy Moniter</h5>

                <div class="accordion" data-role="accordion" data-close-any="true">
                    <div *ngFor="let item of strategyContainer.items" class="frame">
                        <div class="heading bg-grayLight">
                            <div class="cell">{{item.name}}</div>
                            <div class="cell">{{item.conn.connState}}</div>
                        </div>
                        <div class="content bg-darker">
                            <table class="table condensed">
                                <thead>
                                    <tr>
                                        <th>StrategyID</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Operations</th>
                                        <th>TotalPnl</th>
                                        <th>TotalPosition</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let strategy of item.conn.strategies">
                                        <td>{{strategy.id}}</td>
                                        <td>{{strategy.name}}</td>
                                        <td>{{strategy.status}}</td>
                                        <td>
                                            <div data-role="group" data-group-type="one-state">
                                                <button class="button small-button" (click)="item.conn.changeStatus(strategy.id, 2)" [disabled]="strategy.status=='RUN'||strategy.status=='STOP'">
                                                    start
                                                </button>
                                                <button class="button small-button" (click)="item.conn.changeStatus(strategy.id, 3)" [disabled]="strategy.status=='PAUSE'||strategy.status=='STOP'">
                                                    pause
                                                </button>
                                                <button class="button small-button" (click)="item.conn.changeStatus(strategy.id, 4)" [disabled]="strategy.status=='STOP'">
                                                    stop
                                                </button>
                                                <button class="button small-button" (click)="item.conn.changeStatus(strategy.id, 5)" [disabled]="strategy.status=='WATCH'">
                                                    watch
                                                </button>
                                            </div>
                                        </td>
                                        <td>{{strategy?.totalpnl}}</td>
                                        <td>{{strategy?.totalposition}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<div class="frame">
                        <div class="heading bg-grayLight">
                            <div class="cell">ManulTrade</div>
                            <div class="cell">Connected</div>
                        </div>
                        <div class="content bg-darker">
                            <table class="table">
                                <thead>
                                    <tr class="info">
                                        <th>StrategyID</th>
                                        <th>Status</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>110</td>
                                        <td>running</td>
                                        <td>
                                            <button class="button small-button">start</button>
                                            <button class="button small-button">stop</button>
                                            <button class="button small-button">watch</button>
                                            <button class="button small-button">pause</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>