<div id="workbench">

    <div class="body">
        <form *ngIf="isAuthorized==false" class="loginForm" #loginForm="ngForm" (ngSubmit)="OnLogin()">
            <div class="userImage">
                <span class="mif-user mif-4x fg-blue"></span>
            </div>
            <div class="input-control text">
                <input name="username" type="text" required placeholder="User Name" [(ngModel)]="username" #name="ngModel">
            </div>
            <div [hidden]="name.valid || name.pristine" class="bg-lightOrange fg-darkRed alert">
                UserName is required.
            </div>
            <div class="input-control password">
                <input name="password" type="Password" required placeholder="Password" [(ngModel)]="password" #passwd="ngModel">
            </div>
            <div [hidden]="passwd.valid || passwd.pristine" class="bg-lightOrange fg-darkRed alert">
                Password is required.
            </div>
            <div class="accept-buttons">
                <button type="submit" class="button primary" [disabled]="!loginForm.form.valid">
                            登录
                        </button>
                <button class="button danger" (click)="OnReset()">
                            重置
                        </button>
            </div>
        </form>
        <div class="appstore" *ngIf="isAuthorized">
            <!--<div class="fg-white" style="padding-left: 80px; position: fixed; width: 100%; box-shadow: 0 2px 2px black; background-color: #2c2c2c; z-index: 99">
                <h3>Applications</h3>
            </div>-->
            <div class="tile-area fg-white tile-area-scheme-dark" style="min-width: 1000px">
                <h1 class="tile-area-title">Start</h1>
                <div class="tile-area-controls"></div>
                <div class="tile-group double">
                    <span class="tile-group-title">Transanctional</span>
                    <div class="tile-container">
                        <template ngFor let-app [ngForOf]="apps">
                            <div *ngIf="app.category=='Transanctional'" class="tile-square bg-orange fg-white" data-role="tile" (click)="OnStartApp(app.name)">
                                <div class="tile-content iconic">
                                    <span class="icon mif-trademark"></span>
                                </div>
                                <span class="tile-label">{{ app.desc }}</span>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="tile-group double">
                    <span class="tile-group-title">Analytical</span>
                    <div class="tile-container">
                        <template ngFor let-app [ngForOf]="apps">
                            <div *ngIf="app.category=='Analytical'" class="tile-square bg-orange fg-white" data-role="tile" (click)="OnStartApp(app.name)">
                                <div class="tile-content iconic">
                                    <span class="icon mif-library"></span>
                                </div>
                                <span class="tile-label">{{ app.desc }}</span>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>