/*
* create by cl, date 2017/0328
*/

.close-round {
    display: inline-block;
    position: relative;
    /* max icon size */
    border-radius: 50px;
    border: 1px solid rgb(16, 16, 16);
    height: 20px;
    width: 20px;
    background-color: #E15424;
    opacity: 0.5;
}

.close-round:before,
.close-round:after {
    box-sizing: border-box;
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    margin-top: -1px;
    left: 20%;
    height: 1px;
    width: 60%;
    transform: rotate(-45deg);
    background-color: #333;
}

.close-round:after {
    transform: rotate(45deg);
}