.container {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #1A2237;
}

product {
    width: 100%;
    height: 100%;
}

.u-col {
    display: flex;
    flex-flow: column;
}

.fill {
    flex: auto;
}