<div class="workbench">
    <action-bar [styleObj]="actionBar.styleObj" [dataSource]="actionBar.dataSource"></action-bar>
    <div class="content" [ngSwitch]="curPage">
        <template [ngSwitchCase]="'security'">
            <security-master></security-master>
        </template>
        <template [ngSwitchCase]="'setting'">
            <setting></setting>
        </template>
        <template [ngSwitchCase]="'user'">
            <user></user>
        </template>
        <template [ngSwitchCase]="'support'">
            <support></support>
        </template>
        <template ngSwitchDefault>
            <home [currentMod]="homeMod" [activeTab]="activeTab"></home>
        </template>
    </div>
</div>