<div class="title">
  <img class="logo" src="../base/images/logo-white.png" alt="Chronos" />
  <span class="big">chronos</span>
  <ul class="tabs">
    <li *ngFor="let tab of tabs" [class.active]="activeTab==tab" (click)="activeTab=tab"><a>{{tab}}</a></li>
  </ul>
  <u-codes class="u-input-group" (onSelect)="listClick($event)"></u-codes>
  <!--<button class="btn btn-default" [disabled]="selectedValue" (click)="searchInfo()">搜索</button>-->
</div>
<div *ngIf="activeTab=='证券信息'" class="u-col fill">
  <div class="content">
    <h6>{{codeName}}</h6>
    <div class="u-row" style="min-height: 100px;">
      <section class="fill">
        <b>{{summary.title}}</b>
        <p>
          {{summary.content}}
        </p>
      </section>
      <section class="fill">
        <b>{{mdSection.title}}</b>
        <div class="holder">
          <div echarts [options]="mdSection.content.option" (chartInit)="mdSection.content.onInit($event)" style="height: 300px"></div>
        </div>
      </section>
    </div>
    <div class="u-row">
      <section class="fill">
        <b>{{baseInfo.title}}</b>
        <div class="holder">
          <table>
            <tr *ngFor="let item of baseInfo.content">
              <td style="width: fit-content">{{item.name}}</td>
              <td>{{item.value}}</td>
            </tr>
          </table>
        </div>
      </section>
      <section class="fill">
        <b>{{marketInfo.title}}</b>
        <div class="holder">
          <table>
            <tr *ngFor="let item of marketInfo.content">
              <td style="width: fit-content">{{item.name}}</td>
              <td>{{item.value}}</td>
            </tr>
          </table>
        </div>
      </section>
      <section style="min-width: 300px">
        <b>{{keyInfo.title}}</b>
        <div class="holder">
          <table>
            <tr *ngFor="let item of keyInfo.content">
              <td style="width: fit-content">{{item.name}}</td>
              <td style="text-align: right">{{item.value}}</td>
            </tr>
          </table>
        </div>
      </section>
    </div>
    <div *ngIf="!isStock" class="u-row">
      <section class="fill">
        <b>{{standardInfo.title}}</b>
        <div class="holder">
          <table align="left">
            <tr *ngFor="let row of standardInfo.content">
              <td>{{row[0]}}</td>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
            </tr>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>