<div class="charts">
    <div class="u-row condition" *ngIf="showSetting">
        <div class="u-col item">
            <div class="u-row">
                <span>篮子：</span>
                <u-codes class="u-input-group" (onSelect)="firstLegClick($event)" (onInput)="onValueChanged($event, 0)" [selectedItem]="codes[0]"
                    tabindex="1"></u-codes>
                <button type="button" class="btn-primary u-file" (click)="openFile(0)">...</button>
            </div>
            <div class="u-row">
                <span>期货：</span>
                <u-codes class="fill" (onSelect)="secondLegLick($event)" (onInput)="onValueChanged($event, 1)" [selectedItem]="codes[1]"
                    tabindex="2"></u-codes>
            </div>
        </div>
        <div class="u-col item">
            <div class="u-row">
                <pre style="font-size: 14px">x</pre>
                <input type="text" class="btn-default" style="margin-left: 30px;" [(ngModel)]="lines[0].coeffs[0]">
            </div>
            <div class="u-row">
                <span>指数：</span>
                <u-codes class="fill" (onSelect)="thirdLegLick($event)" (onInput)="onValueChanged($event, 2)" [selectedItem]="codes[2]" tabindex="3"></u-codes>
            </div>
        </div>
        <button type="button" class="btn btn-primary operator" (click)="calcSpread()">计算</button>
        <div class="u-col yparams">
            <label class="u-row" for=""><span class="span" style="width: 50px;">Min(y):</span><input type="text" [(ngModel)]="yAxisOption.min" class="btn-default params"></label>
            <label class="u-row" for=""><span class="span" style="width: 50px;">Max(y):</span><input type="text" [(ngModel)]="yAxisOption.max" class="btn-default params"></label>
            <label class="u-row" for=""><span class="span" style="width: 50px;">Step(y):</span><input type="text" [(ngModel)]="yAxisOption.step" class="btn-default params"></label>
        </div>
        <div class="u-col">
            <button type="button" class="btn btn-primary operator" style="margin: 5px 0" (click)="changeChartOption(0)">修改</button>
            <button type="button" class="btn btn-primary operator" style="margin: 5px 0" (click)="changeChartOption(1)">自动</button>
        </div>
        <div class="u-col">
            <label for="name">
                <span class="span" style="width: 50px;">名称：</span>
                <input id="name" type="text" class="btn-default" [(ngModel)]="name" style="width: 100px;">
            </label>
            <button type="button" class="btn btn-primary operator" (click)="save()" style="width: 150px; margin: 5px 10px;">保存</button>
        </div>
    </div>
    <div *ngIf="spreadviewer" class="u-row addon-btns">
        <button type="button" class="btn-default operator" [class.active]="rangeType==1" (click)="changeChartOption(2)">10分</button>
        <button type="button" class="btn-default operator" [class.active]="rangeType==2" (click)="changeChartOption(3)">1时</button>
        <button type="button" class="btn-default operator" [class.active]="rangeType==3" (click)="changeChartOption(4)">1天</button>
        <button type="button" class="btn-default operator" style="margin-right: 0; margin-left: auto;" (click)="toggleView()">{{toggleText}}</button>
    </div>
    <div *ngIf="spreadviewer" echarts [options]="spreadviewer.spreadChart.chartOption" (chartInit)="spreadviewer.onChartInit($event, 0)"
        class="chart" #chart></div>
    <!--<div echarts [options]="timeLineChart.instance" (chartInit)="onChartInit($event, 1)" class="chart"></div>-->
</div>
<div *ngIf="statusbar" class="statusbar" [statusbar]="statusbar">
</div>
<div *ngIf="bTip" class="u-tooltip">
    <p *ngFor="let tip of tips">{{tip}}</p>
</div>