.u-block {
    width: 300px;
    background: rgba(1, 3, 12, 0.37);
}

.u-block .title {
    height: 30px;
    line-height: 30px;
    background: rgb(56, 63, 84);
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-flow: row;
}

.u-block .title > * {
    flex: auto;
    display: flex;
}

.u-block .title .menu{
    flex: none;
    align-self: flex-end;
    line-height: 30px;
    margin-right: 10px;
}

.disable {
    color: #333;
}

.u-block .title .menu:hover{
    cursor: pointer;
}

.params {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #333;
    border-radius: 5px;
    height: 300px;
}

.params > * {
    display: inline-block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}