.dash-body {
    flex: auto;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
}

table {
    background-color: transparent;
}

.u-row {
    display: flex;
    flex-flow: row;
}

.u-row > *:not(*:first-child) {
    margin-left: 10px;
}

.fill {
    flex: auto;
}

.dash-body > .banner {
    flex: none;
    height: 200px;
    min-height: 200px;
    background-color: #222A41;
}

.dash-body > .marketdata,
.dash-body > .other {
    margin-top: 10px;
    height: 400px;
    min-height: 300px;
    flex: none;
}

section {
    display: flex;
    flex-flow: column;
}

section > .holder {
    flex: auto;
    padding: 5px;
    background-color: #222A41;
};