<div class="title">
  <img class="logo" src="../base/images/logo-white.png" alt="Chronos" />
  <span class="big">chronos</span>
  <ul class="tabs">
    <li *ngFor="let tab of curModule.tabs" [class.active]="activeTab==tab" (click)="activeTab=tab"><a>{{tab}}</a></li>
  </ul>
</div>
<div class="content">
  <dashboard *ngIf="activeTab=='Dashboard'||activeTab=='首页'" class="fill"></dashboard>
  <trade *ngIf="activeTab=='Trading'||activeTab=='实盘交易'" class="fill"></trade>
  <simulation *ngIf="activeTab=='Simulation'||activeTab=='仿真交易'"></simulation>
  <risk *ngIf="activeTab=='Risk'||activeTab=='风控'" class="fill"></risk>
  <admin *ngIf="activeTab=='Admin'||activeTab=='管理'"></admin>
  <backtest *ngIf="activeTab=='BackTest'||activeTab=='回测'" class="fill"></backtest>
  <analysis *ngIf="activeTab=='Analysis'||activeTab=='分析'" class="fill"></analysis>
  <riskfactor *ngIf="activeTab=='Profit'||activeTab=='风险因子收益'" [activeTab]="activeTab" class="fill"></riskfactor>
  <riskfactor *ngIf="activeTab=='RiskFactors'||activeTab=='风险因子分析'" [activeTab]="activeTab" class="fill"></riskfactor>
  <report *ngIf="activeTab=='Report'||activeTab=='回测报表'" class="fill"></report>
  <riskfactor *ngIf="activeTab=='alpha'||activeTab=='Alpha因子'" [activeTab]="activeTab" class="fill"></riskfactor>
</div>
