/* base style */
.u-row,
.u-col {
    flex: none;
    display: flex;
}

.u-col {
    flex-flow: column;
}

.u-row {
    flex-flow: row;
}

.fill {
    flex: auto;
}

.title {
    padding-left: 1%;
    line-height: 30px;
    font-size: 14px;
    color: #F3F3F5;
    background-color: rgb(56, 63, 84);
}

.backtest-article {

}

.backtest-article .title {
    justify-content: flex-start;
    align-items: center;
    height: 30px;
}

.backtest-article .title > *:not(:first-child) {
    margin-left: 18px;
}

.report {
    flex: 1;
    padding-bottom: 1%;
}

.report .title {
    justify-content: space-between;
}

.report .report-head {

}

.report .order-article {
    flex: 1;
    margin-top: 10px;
}

.report-head {
    width: 100%;
}

.order-article {

}

.report-head .title-article {
    margin-right: 10px;
    padding: 10px 30px;
}

.report-head .chart-article {
    flex: auto;
    align-self: stretch;
}

.title-article .title-list:not(:first-child) {
    margin-left: 20px;
}

.title-list {
    min-width: 160px;
    line-height: 30px;
}

.dark-bg, .title-article, .chart-article, .backtest-article {
    background-color: rgba(1, 3, 12, .37);
}


.close-btn {
    box-sizing: border-box;
    height: 30px;
    padding: 0 15px;
    background-color: inherit;
}
.close-btn:active {
    transform: scale(.97);
    transition: transform .1s ease-in;
}


.input-group {

}

.input-group > input[type=text] {
    margin-left: 10px;
    padding: 1px 5px;
    font-size: 15px;
    border-radius: 3px;
    border: solid 1px #696969;
    background-color: inherit;
}
.input-group > input[type=text]:hover {
    background-color: rgba(1, 3, 12, .37);
    border-color: #000;

}
.input-group > input[type=text]:focus {
    background-color: rgba(1, 3, 12, .37);
}

.input-group > label {

}

.input-group > input[type=button] {

}

.pagination {
    margin: 0 15px;
}

.pagination .previous-btn {
}

.pagination .next-btn {
}

.pagination span {
    padding-left: 5px;
    padding-right: 5px;
}

.previous-btn, .next-btn {
    padding: 1px 3px;
    border-radius: 3px;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}
.previous-btn:hover, .next-btn:hover {
    background-color: #008fd6;
}
.previous-btn:active, .next-btn:active {
    border-color: #2a9fd6;
    transform: scale(.98);
    transition: transform .05s ease-in;
}
.previous-btn:focus, .next-btn:focus {
    border-color: #2a9fd6;
}