<div class="listview u-col" *ngIf="page==0">
    <div class="u-row">
        <button (click)="selectAll()">全选</button>
        <button (click)="unseletAll()">全不选</button>
        <button>
            <span>ALL</span>
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </button>
        <input type="text" class="fill" #searcher>
        <button (click)="search(searcher.value)">查询</button>
        <button (click)="remove()">删除</button>
    </div>
    <dock-table2 [dataSource]="resTable.dataSource" [styleObj]="resTable.styleObj"></dock-table2>
</div>
<div class="report u-col" *ngIf="page==1">
    <div class="u-row fill">
        <div class="u-col">
            <button (click)="back()">返回</button>
            <table class="index">
                <tr>
                    <td>最大回撤：</td>
                    <td>{{retraceRatio}}</td>
                </tr>
                <tr>
                    <td>胜率：</td>
                    <td>{{percentProfitable}}</td>
                </tr>
                <tr>
                    <td>夏普率：</td>
                    <td>{{sharpeRatio}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="u-row fill">
        <div echarts [options]="chartOption" [loading]="bLoading" (chartInit)="chartInit($event)" class="fill"></div>
        <dock-table2 [dataSource]="orderdetailsTable.dataSource" [styleObj]="orderdetailsTable.styleObj" class="fill"></dock-table2>
    </div>
</div>