<div style="overflow:auto">
<div style="width:100%;height:90px;font-size:20px;overflow:auto" >

<font color='#eee'>Product:</font>
<select style="width:100px;height:30px;margin:1px" [(ngModel)]='iproduct' (ngModelChange)="iproduct=$event;nextDropdown()">
  <option *ngFor="let item of iproducts" [value]='item'>{{item}}</option>
</select>

<font color='#eee'>Strategy:</font>
<select  style="width:100px;height:30px;margin:1px" [(ngModel)]='istrategy'>
  <option *ngFor="let item of istrategys" [value]='item'>{{item}}</option>
</select>

<font color='#eee'>Date:</font>
<input style="width:100px;height:30px;margin:1px"  [(ngModel)]='startDate' type="text" size="8" maxlength="8" placeholder="20170701" required>
-

<input style="width:100px;height:30px;margin:1px" [(ngModel)]='endDate' type="text" size="8" maxlength="8" placeholder="20170701" >

<font color='#eee'>HedgeRadio:</font>
<input style="width:80px;height:30px;margin:1px"  [(ngModel)]='hedgeRadio' type="text" size="8"  placeholder="1" required>

<input style="width:61px;height:30px;background-color:#00b010;color:#eee;margin:1px" type="submit" value="search" (click)="lookReturn()">

</div>
<div style="position:absolue">
<div class="chart">chart</div>
<div class="chart">chart</div>
<div class="chart">chart</div>
<div class="chart">chart</div>
<div class="chart">chart</div>
<div class="chart">chart</div>
<div class="chart">chart</div>
<div class="chart">chart</div>
</div>
</div>
<span>{{note}}</span>
