.content {
    flex: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.u-row,
.u-col {
    flex: none;
    display: flex;
}

.u-col {
    flex-flow: column;
}

.fill {
    flex: auto;
}

.section {
    background-color: #222A41;
}

.list-section {
    min-width: 200px;
    background: #000;
}

.list-title {
    width: 100%;
    background: #222A41;
}

.list-title .tab {
    width: fit-content;
    height: 23px;
    padding: 0 5px;
    line-height: 23px;
    cursor: pointer;
    background: #222A41;
}

.list-title .active {
    background: #000;
}

.list-section ul {
    cursor: pointer;
}

.list-section .list-item {
    padding: 5px;
    line-height: 1;
}

.list-section .list .active {
    background: #1A2237;
}

.list-section .list-item:hover{
    color: #fff;
}

.data-section {
    flex: 1 1 ;
    margin-left: 5px;
    /*background: #000;*/
}

.data-section > div {
    flex: 1;
}

.warn-section {
    background: #000;
}

.table-section {
    /*background: #000;*/
}

.table-section .title {
    /*width: 100%;*/
    line-height: 30px;
    background: rgb(56,63,84);
}
.table-section .table-container {
    background: rgba(1, 3, 12, .37);
}

.categ-section .table-section {
    width: 49.5%;

}

.categ-section .table-section:nth-child(odd) {
    margin-right: 1%;
}


.u-col .section {
    margin-bottom: 10px;
}

.section > .title {
    background-color: #1A2237;
}

.title {
    background-color: #1A2237;
}

.section > .holder {
    flex: auto;
    border-radius: 5px;
    padding: 5px;
}

dock-table2 {
    width: auto;
}

.u-wrap {
    display: flex;
    flex-flow: row wrap;
}

/*.u-wrap .u-col {
    min-width: 500px;
    margin-right: 10px;
}*/

.select-area {
    margin-bottom: 10px;
}

.select-area select {
    background: #000010;
}