.sim-content {
    flex: auto;
    width: 100%;
    padding-bottom: 1%;
}

.u-col {
    display: flex;
    flex-flow: column nowrap;
}

.u-row {
    display: flex;
    flex-flow: row nowrap;
}

.text-brackets {
    color: #777;
}

.sim-content .head {
    flex: 0 0 50px;
}

.sim-content .main {
    flex: 1;
}

.head > div {
    align-items: center;
}

.head > div:not(:first-child) {
    margin-left: 25px;
}

.select-item select, .select-item input {
    min-width: 120px;
    height: 23px;
    line-height: 23px;
    color: #A5ACBE;
    background-color: #2E344C;
}

.search-btn {
    display: block;
    height: 35px;
    padding: 8px 12px;
    border-radius: 4px;
}

.head .export-item > * {
    margin-left: 1px;
}

.main .title {
    align-items: center;
    line-height: 30px;
    background: rgb(56,63,84);
}

.title .title-name {
    flex: 1;
}

.title .glyphicon-download-alt {
    /*align-self: center;*/
    cursor: pointer;
}

.main .order-section, .main .hold-section {
    flex: 1;
    overflow: scroll;
}





.table-container {
    background-color: rgba(1, 3, 12, .37);
}

.pagination {
    margin: 0 15px;
}

.pagination .previous-btn {
}

.pagination .next-btn {
}

.pagination span {
    padding-left: 5px;
    padding-right: 5px;
}

.previous-btn, .next-btn {
    padding: 1px 3px;
    border-radius: 3px;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}
.previous-btn:hover, .next-btn:hover {
    background-color: #008fd6;
}
.previous-btn:active, .next-btn:active {
    border-color: #2a9fd6;
    transform: scale(.98);
    transition: transform .05s ease-in;
}
.previous-btn:focus, .next-btn:focus {
    border-color: #2a9fd6;
}

/*.head .pagination {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.pagination .previous-btn {
    background-color: #2E344C;
}

.pagination .next-btn {
    background-color: rgb(56,63,84);
}

.pagination .previous-btn:hover, .pagination .next-btn:hover, .search-btn:hover {
    cursor: pointer;
    border-color: #787878;
}

.pagination .previous-btn:active, .pagination .next-btn:active, .search-btn:active {
    transition: transform .1s ease-in;
    transform: scale(.97);
    background-color: #1E243C;
}

.pagination .page-num {
    font-size: 16px;
}*/