<div class="tab-trading">
    <div class="container">
        <p class="title1">PRODUCTS</p>
        <div class="product-container">
        </div>
    </div>
    <div class="container">
        <p class="title1">STRATEGY</p>
        <div class="strategy-container">
            <template ngFor let-item [ngForOf]="configs">
                <div [class]="detailClass" data-role="tile" (mouseup)="onClick($event, item);">
                    <div class="tile-content iconic {{item.state===1?'bg-green':''}}">
                        <!--<span class="icon mif-play"></span>-->
                        <span class="tile-label">{{ item.name }}</span>
                        <div>

                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <div class="container">
        <p class="title1">ANALYTICAL</p>
        <div class="analytical-container">
            <template ngFor let-app [ngForOf]="svconfigs">
                <div [class]="detailClass" data-role="tile" (mouseup)="onSVConfigClick($event, app)">
                    <div class="tile-content">
                        <!--<span class="icon mif-library"></span>-->
                        <span class="tile-label">{{ app.name }}</span>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <div>
    <table class="tradingtable">
        <thead>
            <tr class="tabletitle" border="1">
                <th>#</th>
                <th>产品</th>
                <th>策略</th>
                <th>状态</th>
                <th>总权益</th>
                <th>合计盈亏</th>
                <th>平仓盈亏</th>
                <th>持仓盈亏</th>
                <th>标题8</th>
                <th>标题9</th>
                <th>标题10</th>
                <th>标题11</th>
                <th>标题12</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>