/* Master Styles */
.page-title {
  background-color: rgba(45, 45, 45, 1);
}

.page-body {
  background-color: #1e1e1e;
}

.panel-header-list {
    background-color: rgba(45, 45, 45, 1);
    box-shadow: 0 -2px 2px rgba(0, 140, 240, 1);
}

.panel-header-list > .tab.active {
    background-color: rgba(0, 140, 240, 1);
}

.splitter-bar {
    background-color: red;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 140, 240, 1);
    font-size: 30px;
}