/* Master Styles */
.page-title {
  background-color: rgba(45, 45, 45, 1);
}

.page-body {
  background-color: #1e1e1e;
}

.panel-header-list {
  background-color: rgba(45, 45, 45, 1);
  box-shadow: 0 -2px 2px rgba(0, 140, 240, 1);
}

.panel-header-list > .tab.active {
    background-color: rgba(0, 140, 240, 1);
}

.splitter-bar {
    background-color: grey;
}

.loading {
    background: rgba(0, 140, 240, 1);
    font-size: 30px;
}

/* fixed header table style*/
.table{
    border-radius: 3px;
}
.tb-header{
    height: 25px;
    line-height: 25px;
    background-color: #3C3C3C;
    box-shadow: 0 -1px 0 #5C5C66 inset;
    padding-right: 5px;
}
.tb-body{
    background-color: rgb(45,45,48);
}
.td{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tr{
    line-height: 20px;
}
.tr:hover{
    background-color: rgb(25,25,25);
}
/*user control*/
usercontrol.row{
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    padding: 5px 5px;
}
usercontrol.col{
    width: 100%;
}
.sd-input,
button,
span{
    margin: 0 5px;
}
/* textbox style */
.sd-input{
    width: 50px;
    border-radius: 3px;
    padding: 5px;
    background-color: #e8bd73;
}
/* button style */
.sd-button{
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
    background-color: rgb(16, 148, 243);
}
.sd-button:hover{
    background-color: rgb(123, 194, 245);
}

.prespace{
    margin-left:  100px;
}

.spreadview.input {
    background-color:  #ee3322;
    height: 20px;
    border-radius: 5px;
}

