<div class="groupbox">
    <label for="">{{enNameLabel}}<input type="text" class="btn-default" [(ngModel)]="enName"></label>
    <label for="">{{chNameLabel}}<input type="text" class="btn-default" [(ngModel)]="chName"></label>
    <label for="">{{strategyLabel}}
        <select class="btn-default" [(ngModel)]="strategyType">
            <option *ngFor="let opt of strategies" [value]="opt.name">{{opt.chname}}</option>
        </select>
    </label>
    <label *ngIf="products" for="">{{productLabel}}
        <select class="btn-default" [(ngModel)]="productID">
            <option *ngFor="let opt of products" [value]="opt.tblock_id">{{opt.tblock_full_name}}</option>
        </select>
    </label>
    <button class="btn btn-primary">保存</button>
</div>
<div class="groupbox backtest">
    <div class="section">
        <label>撮合模式：</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;无条件成交</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;按价格成交</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;按价量成交</label>
    </div>
    <label for="">回测区间：<input type="date" class="btn-default">-<input type="date" class="btn-default"></label><br>
    <div class="section">
        <label>回测速度：</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;1</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;2</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;3</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;4</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;5</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;6</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;7</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;8</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;9</label>
        <label for=""><input type="radio" name="match_mode">&nbsp;10</label>
    </div>
    <div class="section generate">
        <div class="section">
            <label>实时净值计算频率：<input type="text" class="btn-default"></label>
            <label for=""><input type="radio" name="match_mode">&nbsp;分钟</label>
            <label for=""><input type="radio" name="match_mode">&nbsp;天</label>
        </div>
        <button class="btn btn-primary">生成</button>
    </div>
</div>
<div class="groupbox stragtegy">
    <dock-control style="height: 100%" [className]="strategyConfigPanel.className" [children]="strategyConfigPanel.children" [styleObj]="strategyConfigPanel.styleObj" [dataSource]="strategyConfigPanel.dataSource"></dock-control>
</div>